body{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    background-color: #020218;
    color: #f1f1f1;
}

span{
    color: #a42d8a;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
}

.texto-logo{
    font-weight: 700;
    font-size: 2.2em;
}

.lista-links{
    display: flex;
    gap: 100px;
    list-style: none;
}
.link-paginas{
    text-decoration: none;
    color: #828181;
    font-weight: 500;
    transition: all 0.5s;
    padding: 0px 5px;
    border-radius: 5px;
}

.link-paginas:hover{
    color: #ffffff;
    background-image:  linear-gradient(to top,#65636584, #18021100);
}
.ativado{
    color: #ffffff;
    background-image:  linear-gradient(to top,#ff00c884, #02021800);
}

.ativado:hover{
    color: #ffffff;
    background-image:  linear-gradient(to top,#ff00c884, #02021800);
}
.banner-explorar{
    position: relative;
    height: 450px;
    width: 90%;
    margin: 50px auto;
    border: solid 2px;
    border-color:#a42d8a;
    border-radius: 15px;
    background-image: url(https://cdn.europosters.eu/image/hp/77631.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.banner-explorar::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0));
}

.conteudo-explorar{
    position: relative;
    z-index: 1;
    margin: 50px 50px;
}

.conteudo-explorar h2{
  font-size: 2em;
}

.conteudo-explorar p{
  max-width: 500px;
  text-align: justify;
}

.conteudo-explorar button{
    background-color: #a42d8a;
    border: none;
    border-radius: 5px;
    height: 40px;
    color: #f1f1f1;
    padding: 5px 20px;
    margin-top: 150px;
    transition: all 0.5s;
    font-weight: bold;
}

.conteudo-explorar button:hover{
    color: rgb(255, 255, 255);
    background-color: #dbdbdb00;
    border: solid 3px;
    border-color: rgb(251, 249, 252);
    border-radius: 15px 10px;
}

.destaques{
    width: 90%;
    margin: 0 auto;
}

.destaques h1{
    text-align: center;
    margin-top: 100px;
}

.cards{
    display: flex;
    justify-content: space-around;    
    margin-top: 50px;
}

.card{
    width: 300px;
    border-radius: 15px;
    height: 400px;
    position: relative;
}

.card::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0));
    z-index: 1;
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    transition: filter 0.3s ease; 
    filter: blur(0px);
    z-index: 0;
    
}
.card:hover img{
    filter: blur(5px);
}


.card h2{
    
}